<section class="page">
  <h1>{{employee?.firstName}} {{employee?.lastName}}</h1>
  <div class="employee-detail__container">
    <div class="area area--size-2">
      <h2>Mitarbeiter detail</h2>
<div class="employee-detail__container-detail">
      <mat-card class="employee-detail__card">

        <img class="employee-detail__employee-image" mat-card-image *ngIf="!!employeeImage" src="data:image/png;base64,{{employeeImage?.content}}">
        <mat-card-content>
          <h3>Steckbrief</h3>

          <ul>
          <li>Beruf</li>
          <li>Ausbildung</li>
        </ul>

        </mat-card-content>
      </mat-card>
  <article>
    <p>Name</p>
    {{employee?.firstName}} {{employee?.lastName}}
    <p>Geburtsdatum</p>
    {{employee?.birthDate}}
  </article>
</div>
    </div>
    <div class="area">
      <h2>Projekte</h2>
      <mat-card class="employee-detail__card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <form >
            <mat-form-field class="form-field--width-100-percent" appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Hinzufügen</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="area">
      <h2>Notizen</h2>
      <mat-card class="employee-detail__card">
      <mat-card-content>

        <form >
        <mat-form-field class="form-field--width-100-percent" appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Hinzufügen</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
  <div class="employee-detail__bottom-bar">
    <button mat-stroked-button>Meeting vereinbaren</button>
    <button mat-stroked-button>Zurück</button>
  </div>
</section>
